@font-face {
   font-family: 'Sinthya-Regular';
   font-display: swap;
   src: url('Sinthya-Regular/font.ttf');
}
@font-face {
   font-family: 'Montserrat-Regular';
   font-display: swap;
   src: url('Montserrat-Regular/font.ttf');
}
