@font-face {
   font-family: 'Sinthya-Regular';
   font-display: swap;
   src: url('file:///C:/Users/dumbeg/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-08_182111/fonts/Sinthya-Regular/font.ttf');
}
